body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: sans-serif;
}

.building {
  display: flex;
  gap: 40px;
}

.shaft {
  position: relative;
  width: 100px;
  height: 900px;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.elevator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #555;
  transition: bottom 0.8s linear;
}

.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ccc;
  transition: transform 0.5s;
}

.door.left {
  left: 0;
}

.door.right {
  left: 0;
}

.door-open .door.left {
  transform: translateX(-100%);
}

.door-open .door.right {
  transform: translateX(100%);
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 200px;
}

#buttons button {
  margin-bottom: 8px;
  width: 50px;
  height: 30px;
}

button.waiting {
  background: orange;
  color: white;
  border-radius: 10px;
}
