body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: sans-serif;
}

.building {
  display: flex;
  gap: 40px;
  flex-direction: row;
}

#external-buttons {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.external-floor {
  display: grid;
  grid-template-columns: 30px 40px 40px;
  align-items: center;
  height: 3px;
}

.external-floor button {
  width: 50px;
  height: 30px;
}

#elevators {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.elevator-set {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-right: 20px;
}

.shaft {
  position: relative;
  /* height:`${shaftHeight}px`; */
  width: 100px;
  border: 2px solid #333;
}

.elevator {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0px;
  background: #555;
  transition: bottom 0.8s linear;
}

.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ccc;
  transition: transform 0.5s;
}

.door.left {
  left: 0;
  z-index: 9999;
}

.door.right {
  left: 0;
}

.door-open .door.left {
  transform: translateX(-100%);
}

.door-open .door.right {
  transform: translateX(100%);
}

.hi {
  position: absolute;
  top: 7px;
  left: 11px;
  z-index: 1;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.panel button {
  margin-bottom: 8px;
  width: 50px;
  height: 30px;
}

.panel button.waiting {
  background: orange;
  color: white;
  border-radius: 10px;
}

/* #buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
  gap: 10px;
}

#buttons button {
  margin-bottom: 8px;
  width: 50px;
  height: 30px;
}

button.waiting {
  background: orange;
  color: white;
  border-radius: 10px;
} */
